<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @reservation.customer %>
</p>

<p>
  <strong>Promotion:</strong>
  <%= @reservation.promotion %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
