<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @reservation.customer %>
</p>

<p>
  <strong>Promoção:</strong>
  <%= @reservation.promotion %>
</p>

<%= link_to 'Editar', edit_reservation_path(@reservation) %> | <%= link_to 'Voltar', reservations_path %>
