<%= form_for(@promotion, html: {multipart: true}) do |f| %>
<% if @promotion.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@promotion.errors.count, "erro") %> impediram a promoção de ser salva:</h2>

	<ul>
		<% @promotion.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :title %>
	<br>
	<%= f.text_field :title %>
</div>
<div class="field">
	<%= f.label :description %>
	<br>
	<%= f.hidden_field :description %>
	<trix-editor input="promotion_description"></trix-editor>
</div>
<div class="field">
	<%= f.label :category_id %>
	<br>
	<%= select :promotion, :category_id, @categories %>
</div>
<div class="field">
	<%= f.label :banner %>
	<br>
	<%= f.file_field :banner %>
</div>
<div class="field">
	<%= f.label :valid_from %>
	<br>
	<%= f.date_select :valid_from, selected: Date.today %>
</div>
<div class="field">
	<%= f.label :valid_to %>
	<br>
	<%= f.date_select :valid_to %>
	&nbsp;
	<%= check_box_tag(:unlimited_time,'' , @promotion.unlimited_time?)%>
	<%= label_tag :unlimited_time, "Tempo ilimitado"%>
</div>
<div class="field">
	<%= f.label :quantity %>
	<br>
	<%= f.number_field :quantity %>
	&nbsp;
	<%= check_box_tag :unlimited_quantity, '', @promotion.unlimited_quantity?%>
	<%= label_tag :unlimited_quantity, "Quantidade ilimitada"%>
</div>
<div class="field">
	<%= f.label :price %>
	<br>
	<%= f.number_field :price, :class => 'text_field', :step => 0.1 %>
</div>
<div class="actions">
	<%= f.submit 'Enviar' %>
</div>
<% end %>
