<div class="promotion">
  <%= image_tag promotion.banner.url(:thumb) %>
  <%= link_to promotion_path(promotion) do %>
      <h3 class="title"><%= promotion.title %> </h3>
  <% end %>
  <span class="category"><%= "(#{promotion.category.name})" %></span>
  <div class="baseline">
    <%= display_quantity(promotion) %>
    <%= display_time(promotion) %>
    <span class="price"><%= number_to_currency(promotion.price) %></span>
  </div>
</div>
