<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>Title:</strong>
	<%= @promotion.title %>
</p>

<p>
	<strong>Description:</strong>
	<%= @promotion.description %>
</p>

<p>
	<strong>Category:</strong>
	<%= @promotion.category.name unless @promotion.category.nil?  %>
</p>

<p>
	<strong>Banner</strong>
	<%= image_tag @promotion.banner.url(:medium) %>
</p>

<p>
	<strong>Valid from:</strong>
	<%= @promotion.valid_from.strftime("%b/%d/%Y") %>
</p>

<p>
	<strong>Valid to:</strong>
	<% if @promotion.valid_to %>
	<%= @promotion.valid_to.strftime("%b/%d/%Y")%>
	<% else %>
	<%= "Unlimited Time"%>
	<% end %>
</p>

<p>
	<strong>Quantity:</strong>
	<% if @promotion.quantity > -1 %>
	<%= @promotion.quantity %>
	<% else %>
	<%= "Unlimited Quantity"%>
	<% end %>
</p>

<p>
	<strong>Price:</strong>
	<%= number_to_currency(@promotion.price) %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
