<div id="promotion_show">
  <h2><%= @promotion.advertiser.name %> <%= " (#{format('%.1f', @promotion.advertiser.review_avg)} \u{2b50})" if @promotion.advertiser.review_avg %></h2>
  <h3><%= "#{@promotion.title} (#{@promotion.category.name})" %></h3>
  <%= image_tag @promotion.banner.url(:medium) %>

  <div id="promotion_info">
    <span id="valid_from"><strong>Válida de:</strong> <%= @promotion.valid_from.strftime('%d/%m/%Y') %></span>
    <span id="valid_to">
      <strong>Válida até:</strong>
      <% if @promotion.valid_to %>
        <%= @promotion.valid_to.strftime('%d/%m/%Y') %>
    <% else %>
        <%= "Tempo ilimitado" %>
    <% end %>
    </span>
    <span id="quantity">
      <strong>Quantidade disponível:</strong>
      <% if @promotion.quantity > -1 %>
        <%= @promotion.quantity %>
    <% else %>
        <%= "Quantidade ilimitada" %>
    <% end %>
    </span>
    <span id="price">
      <strong>Preço:</strong>
      <%= number_to_currency(@promotion.price) %>
    </span>
  </div>

  <%= button_to 'Reservar', reservations_path(promotion_id: @promotion), method: :post %>
  <% if advertiser_signed_in? and @promotion.advertiser == current_advertiser %>
    <%= link_to 'Excluir', promotion_path(@promotion), method: :delete, data: {confirm: "Tem certeza?"} %> | <%= link_to 'Editar', edit_promotion_path(@promotion) %> | <%= link_to 'Voltar', my_promotions_path %>
  <% end %>

  <h2>Descrição</h2>

  <div id="description" class="trix-content">
    <%= sanitize(@promotion.description) %>
  </div>
</div>

<% unless @promotion.reviews.empty? %>
  <h2 style="text-align: center">Avaliações <%= " (#{format('%.1f', @promotion.review_avg)} \u{2b50})" if @promotion.review_avg %></h2>

  <%= render 'reviews/reviews', reviews: @promotion.reviews.order(created_at: :desc) %>
<% end %>