<div class="smallbox">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name,  autofocus: true, size: 50 %>
      </div>

      <div class="field">
        <%= f.label :address %><br>
        <%= f.text_field :address, size: 50 %>
      </div>

      <div class="field clearfix">
      <span class="in-line-field">
        <%= f.label :city %><br>
        <%= f.text_field :city %>
      </span>
      <span class="in-line-field">
        <%= f.label :estate %><br>
        <%= f.text_field :estate %>
      </span>
      </div>

      <div class="field clearfix">
      <span class="in-line-field">
        <%= f.label :country %><br>
        <%= f.text_field :country %>
      </span>
      <span class="in-line-field">
        <%= f.label :zip_code%><br>
        <%= f.text_field :zip_code, size: 12 %>
      </span>
      </div>

      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", :class => 'button' %>
      </div>
  <% end %>

  <%= render "advertisers/shared/links" %>
</div>

