<div id="user_section">
  <% if current_advertiser or current_customer %>
      <% if current_advertiser %>
          <span>Bem-vindo(a), <%= link_to current_advertiser.name, edit_advertiser_registration_path %></span>
          <%= link_to 'Sair', destroy_advertiser_session_path, method: :delete %>
      <% elsif current_customer %>
          <span>Bem-vindo(a), <%= link_to current_customer.name, edit_customer_registration_path %></span>
          <%= link_to 'Sair', destroy_customer_session_path, method: :delete %>
      <% end %>
  <% else %>
      <span>Novo comerciante?, <%= link_to 'Cadastre-se', new_advertiser_registration_path %></span> <br>
      <span>Novo consumidor?, <%= link_to 'Cadastre-se', new_customer_registration_path %></span> <br>
      <span>Já é um usuário? Login como <%= link_to 'Comerciante', new_advertiser_session_path %> ou <%= link_to 'Consumidor', new_customer_session_path %></span>
  <% end %>
</div>