<!DOCTYPE html>
<html>
<head>
  <title>Localize</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top">
  <%= link_to 'Localize', promotions_path, id: 'application_title' %>
  <div id="user_section">
    <% if current_advertiser %>
        <span>Welcome, <%= link_to current_advertiser.name, edit_advertiser_registration_path %></span>
        <%= link_to 'Logout', destroy_advertiser_session_path, method: :delete %>
    <% else %>
        <%= link_to 'Login', new_advertiser_session_path %> <br>
        <span>New advertiser?, <%= link_to 'Sign up here', new_advertiser_registration_path %></span>
    <% end %>
  </div>
</div>

<div id="side">
  <p>Something</p>
</div>
<div id="main">
  <div id="content">
    <% if notice %><div class="notice"><%= notice %></div><% end %>
    <% if alert %> <div class="alert"><%= alert %></div><% end %>
    <%= yield %>
  </div>
</div>

</body>
</html>
