<!DOCTYPE html>
<html>
<head>
  <title>Plataforma de Promoções</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top">
  <%= link_to 'Plataforma de Promoções', promotions_path, id: 'application_title' %>
  <%= render 'layouts/user_section' %>
</div>

<div id="side">
  <ul>
    <li><%= link_to "Início", root_path %></li>
    <%= render 'advertiser/links' %>
    <%= render 'customer/links' %>
  </ul>
</div>
<div id="main">
  <div id="content">
    <% if notice %>
        <div class="notice"><%= notice %></div>
    <% end %>
    <% if alert %>
        <div class="alert"><%= alert %></div>
    <% end %>
    <%= render 'shared/errors' %>
    <%= yield %>
  </div>
</div>

</body>
</html>
